/* ---------------------------------------------------- */
/* General */
/* ---------------------------------------------------- */
body {

}
.no-margin { margin: 0px !important; }

/* Container/Column distance */
.top-5   { margin-top:   5px !important; }
.top-15  { margin-top:  15px !important; }
.top-25  { margin-top:  25px !important; }
.top-35  { margin-top:  35px !important; }
.top-45  { margin-top:  45px !important; }
.top-55  { margin-top:  55px !important; }
.top-65  { margin-top:  65px !important; }
.top-75  { margin-top:  75px !important; }
.top-85  { margin-top:  85px !important; }
.top-95  { margin-top:  95px !important; }
.top-105 { margin-top: 105px !important; }
.top-115 { margin-top: 115px !important; }
.top-125 { margin-top: 125px !important; }
.top-135 { margin-top: 135px !important; }
.top-145 { margin-top: 145px !important; }
.top-155 { margin-top: 155px !important; }

.bottom-5   { margin-bottom:   5px !important; }
.bottom-15  { margin-bottom:  15px !important; }
.bottom-25  { margin-bottom:  25px !important; }
.bottom-35  { margin-bottom:  35px !important; }
.bottom-45  { margin-bottom:  45px !important; }
.bottom-55  { margin-bottom:  55px !important; }
.bottom-65  { margin-bottom:  65px !important; }
.bottom-75  { margin-bottom:  75px !important; }
.bottom-85  { margin-bottom:  85px !important; }
.bottom-95  { margin-bottom:  95px !important; }
.bottom-105 { margin-bottom: 105px !important; }
.bottom-115 { margin-bottom: 115px !important; }
.bottom-125 { margin-bottom: 125px !important; }
.bottom-135 { margin-bottom: 135px !important; }
.bottom-145 { margin-bottom: 145px !important; }
.bottom-155 { margin-bottom: 155px !important; }



/* ---------------------------------------------------- */
/* Fonts */
/* ---------------------------------------------------- */
h3 {
    font-size: 1.7em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 120%;
    color: #2aa9e0;
    margin: 20px 0 17px 0;
}


/* ---------------------------------------------------- */
/* Header */
/* ---------------------------------------------------- */
#header-top {
    background-image: linear-gradient(to top, #f0f0f0, #f4f4f4);
    min-height: 100px;
}
.navbar-brand {
    height: 0px;
    padding: 5px 15px;
}
.navbar-brand img {
    padding-top: 5px;
}


/* ---------------------------------------------------- */
/* Navigation */
/* ---------------------------------------------------- */
.navbar {
    border-radius: 0;
    padding: 0rem 1rem;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    padding: 14px 22px;
}
.navbar-nav>li {
    float: left;
    margin-right: 1px;
}
.navbar-nav li:hover {
    background-color: #2aa9e0;
}
.navbar-nav .current {
    background-color: #2aa9e0;
}



/* ---------------------------------------------------- */
/* Content */
/* ---------------------------------------------------- */
#main-content {
    margin-top: 30px;
}




/* ---------------------------------------------------- */
/* Test wiith Icon */
/* ---------------------------------------------------- */
.text-icon {
    margin-bottom: 30px;
    overflow: hidden;
}
.icon-ar.icon-ar-lg {
    width: 50px;
    height: 50px;
    font-size: 22px;
    line-height: 2.2;
}
.text-icon .icon-ar {
    float: left;
    margin-top: 5px;
}
.icon-ar {
    background-color: #2aa9e0;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 0 5px 5px 0;
    text-align: center;
}
.text-icon-content {
    padding-left: 70px;
    font-size: .9em;
}



/* ---------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------- */